<p>Welcome to <%= title %></p>

<ul>
<li><a href="/signup">SignUp</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
</ul>

<a href="/secret"><h1>Access to secret page?</h1></a>
